
<div>
    <form asp-controller="Zadachi" asp-action="Search" method="POST">
    <p>Тэг:
        <input type="text"  name="Tag">
    </p>
    <input type="submit" value="Искать">
    </form>
</div>
<p>Не найдено ни одной задачи с таким тегом</p>